body {
  background: light-blue;
}

h1 {
  text-align: center;
}

#paragraph2 {
  background-color: white;
  border: solid green 2px;
}

.blue {
  background: blue;
  color: white;
}

a:last-of-type {
  color: purple;
}

th {
  background: grey;
}

td {
  background: white;
}
