body {
  font-family: Arial, sans-serif;
}

#menuItems {
  background-color: #f0f0f0;
  padding: 10px;
}

#menuItems button {
  background-color: #dddddd;
  border: none;
  padding: 10px;
  cursor: pointer;
}

#menuItems button:hover {
  background-color: #bbbbbb;
}

#jumpMenu {
  display: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: white;
  border: 1px solid #ccc;
}

#recentArticles:hover + #jumpMenu {
  display: block;
}

#jumpMenu a {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: black;
}

#jumpMenu a:hover {
  background-color: #333;
  color: white;
}

article {
  color: #999999;               
  background-color: #fafafa;
  padding: 15px;
  margin-bottom: 15px;
  max-height: 120px;            
  overflow: hidden;
  transition: color 2s, max-height 2s;
}

article:hover {
  color: #222222;       
  max-height: 600px;           
}


article p:first-of-type::first-letter {
  font-family: "Times New Roman", Times, serif;
  font-size: 36px;
}

a[href*="google.com"]::after {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-left: 6px;
  background-image: url("arrowarrow.png");
  background-size: contain;
  background-repeat: no-repeat;
}
