body {
  margin: 0;
  font-family: Arial, sans-serif;
}

#jumpMenu {
  position: fixed;
  left: 0;
  top: 120px;
  width: 12%;
  height: calc(100% - 120px);
  background-color: #d7a12a;
  padding: 15px;
  border-right: 5px solid black;
  overflow-y: auto;
}

#jumpMenu a {
  display: block;
  margin: 10px 0;
}

main {
  margin-left: 12%;
}

header {
  position: fixed;
  top: 0;
  left: 12%;
  width: 88%;
  background-color: red;
  border-bottom: 5px solid black;
  padding: 15px 0;
  text-align: center;
}

header p {
  margin: 0;
  font-size: 30px;
  font-weight: bold;
}

header nav {
  margin-top: 10px;
}

header button {
  background-color: blue;
  color: white;
  border: 3px solid black;

  padding: 10px 18px;
  font-size: 18px;

  margin: 0 8px;
}

h1 {
  margin-top: 160px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 50px;
}

#container {
  display: flex;
  flex-wrap: wrap;            
  justify-content: space-evenly;
  padding: 20px 30px;
  padding-bottom: 160px;
}

article {
  width: 300px;
  margin: 15px;
  background-color: white;
  border: 2px solid #dddddd;
  padding: 15px;
}
article h2 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 22px;
}

article p {
  line-height: 1.4;
  font-size: 14px;
}

#thanks {
  position: fixed;
  bottom: 20px;
  right: 20px;

  background-color: lightblue;
  border: 3px solid black;

  padding: 15px 18px;
  font-size: 28px;
  z-index: 999;
}

footer {
  border-top: 5px solid black;
  padding: 20px;
}

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  padding: 20px;
  padding-bottom: 160px;   /* space so the "thanks" box doesn't cover text */
}

#container article {
  width: 300px;
  margin: 15px;

  background: white;
  padding: 15px;
}

#container article p {
  font-size: 13px;
  line-height: 1.4;
}

