body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/*jump menu position left and spans height*/
#jumpMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 15%;
  height: 100%;
  background-color: #d7a12a;
  padding: 15px;
  border-right: 5px solid black;
}

#jumpMenu a{
  display: block;
  margin: 10px 0;
}

main {
  margin-left: 15%;
}

header {
  position: fixed;
  top: 0;
  left: 15%;
  width: 85%;
  background-color: red;
  border-bottom: 5px solid black;
  text-align: center;
  padding: 15px 0;
}

header button {
  background-color: blue;
  color: white;
  border: 3px solid black;
  padding: 10px 20px;
  margin: 5px;
}

h1 {
  margin-top: 160px;
  text-align: center;
  font-size: 40px;
}
