body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/*jump menu position left and spans height*/
#jumpMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 10%;
  height: 100%;
  background-color: #d7a12a;
  padding: 15px;
  border-right: 5px solid black;
}

#jumpMenu a{
  display: block;
  margin: 10px 0;
}

main {
  margin-left: 10%;
}

header {
  position: fixed;
  top: 0;
  left: 10%;
  width: 85%;
  background-color: red;
  text-align: center;
  padding: 10px 0;
}

header nav {
  text-align: center;
  margin-top: 10px;

header button {
  background-color: blue;
  color: white;
  border: 3px solid black;
  padding: 10px 18px;
  margin: 0px 8px;
}

h1 {
  margin-top: 150px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 40px;
}

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px 30px;
  gap: 20px;
}

article {
  width: 300px;
  margin: 0;
  padding: 15px;
  background-color: white;
}

article p {
  line-height: 1.4;
  font-size: 14px;
}

article h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

#thanks {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: lightblue;
  border: 1px solid black;
  padding: 15px 18px;
  font-size: 28px;
  max-width: 420px;
}

footer {
  border-top: 1px solid black;
  padding: 20px;
}

#container {
  padding-bottom: 140px;
}
