body {
  background: light-blue;
}

h1 {
  text-align: center;
}

#white_background {
  background: white;
  border: 3px solid green;
}

.blue_background {
  background: blue;
  color: white;
}

#last_link {
  color: purple;
}

th {
  background: light-grey;
}

td {
  background: white;
}
